---
title: Software ecology
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    html {
      background-color: #1b1c1c !important;
      color: #c5c5c3;
      font-family: sans-serif;
      padding: 1em;
    }
  </style>
</head>

<body>
  {{ content | safe }}
</body>

</html>